<mj-text align="left">
  Dans un contexte de financement contraint, cette décision a été prise tant au regard de
  la qualité de la candidature déposée par la structure qu’en fonction des besoins
  de coordination identifiés sur le territoire. Ont ainsi été évaluées :
  <ul>
    <li style="padding-top: 10px">
      la pertinence du projet au regard des besoins identifi&eacute;s et des solutions pr&eacute;existantes
    </li>
    <li style="padding-top: 10px">
      la r&eacute;partition des postes de conseillers num&eacute;riques au sein de votre d&eacute;partement
    </li>
    <li style="padding-top: 10px">
      l&rsquo;&eacute;quilibrage des postes de conseillers num&eacute;riques entre les d&eacute;partements
      au regard de leurs besoins et dotations respectifs
    </li>
  </ul>
</mj-text>
