<mj-text align="left">
  Dans un contexte de financement contraint, cette décision a été prise tant au regard de
  la qualité de la candidature déposée par la structure qu’en fonction des besoins
  de coordination identifiés sur le territoire. Ont ainsi été évaluées :
  <ul>
    <li style="padding-top: 10px">
      La qualité de la stratégie d’inclusion numérique élaborée par la structure
    </li>
    <li style="padding-top: 10px">
      La légitimité à mettre en place une action de coordination au regard de
      l’activité de la structure
    </li>
    <li style="padding-top: 10px">
      La qualité des concertations menées avec l’ensemble des acteurs pouvant être
      concernés : structures coordonnées, Préfecture de département, conseil départemental,
      Hub territorial pour un numérique inclusif, etc.
    </li>
    <li style="padding-top: 10px">
      La qualité du projet de coordination porté et sa pertinence au regard des
      besoins de coordination identifiés et des offres existantes.
    </li>
  </ul>
</mj-text>
