<ul>
  <li style="padding-top: 10px">Une pièce d'identité en cours de validité du président de la structure (CNI recto-verso ou passeport)</li>
  <li style="padding-top: 10px">
    Une liste des membres du bureau datée de 2023 et signée, identifiant
    formellement les membres du bureau en 2023 (nom, prénom, fonction au sein de la structure)
  </li>
  <li style="padding-top: 10px">Les statuts de la structure à jour, datés et signés</li>
  <li style="padding-top: 10px">Le procès-verbal d'assemblée générale à minima de 2023, signé et daté</li>
  <li style="padding-top: 10px">
    Les derniers comptes annuels, certifiés et signés par un commissaire aux compte
    Ils doivent être, a minima, relatifs à l'exercice 2022
    <ul>
      <li style="padding-top: 10px">
        Si la structure n'est pas soumise à l’obligation de faire certifier ses comptes
        par un commissaire aux comptes, cette dernière est priée de l'indiquer expressément
      </li>
      <li style="padding-top: 10px">
        Les comptes non certifiés devront être obligatoirement signés par
        un expert-comptable ou par le/la Président(e) de la structure
      </li>
    </ul>
  </li>
  <li style="padding-top: 10px">Un avis de situation au répertoire SIRENE de moins de 3 mois</li>
  <li style="padding-top: 10px">Un relevé d’identité bancaire</li>
</ul>
