<ul>
  <li style="padding-top: 10px">
    Un document officiel identifiant le Président (ex : délégation de signature,
    procès-verbal d'assemblée générale, etc.)
  </li>
  <li style="padding-top: 10px">
    La pièce d'identité du/de la Président(e) en cours
    de validité (CNI recto-verso ou passeport)
  </li>
  <li style="padding-top: 10px">Un avis de situation au répertoire SIRENE de moins de 3 mois</li>
  <li style="padding-top: 10px">Un relevé d’identité bancaire</li>
</ul>
