<mjml>
  <%- include('../commun/head.mjml.ejs'); %>

  <mj-body background-color="#f0f0f0">
    <%- include('../commun/header-structure.mjml.ejs', { utils }); %>

    <mj-wrapper css-class="wrapper">
      <mj-section>
        <mj-column>
          <mj-text align="left">
            Madame, Monsieur,
          </mj-text>
          <mj-text align="left">
            Nous avons le plaisir de vous informer qu’à la suite de votre inscription à
            l’Appel à candidature Conseiller numérique, <strong>votre structure s’est
              vu attribuer <%= nombreCoordinateursCoselec %> poste de Conseiller
              numérique.</strong>
          </mj-text>
          <mj-text align="left">
            Nous vous invitons à effectuer votre recrutement de conseiller numérique
            depuis votre Tableau de pilotage.
          </mj-text>
          <mj-text align="left">
            <strong>Comment faire ?</strong>
          </mj-text>
          <mj-text align="left">
            On vous explique tout
            <a href="https://outline.incubateur.anct.gouv.fr/" target="_blank" style="color: #0063CB;">
              ici
            </a>
          </mj-text>
          <mj-text  align="left">
            Restant à votre disposition,
          </mj-text>
        </mj-column>
      </mj-section>
    </mj-wrapper>
    <mj-wrapper css-class="wrapper">
      <mj-section>
        <mj-column> <%- include('../commun/signature.mjml.ejs'); %> </mj-column>
      </mj-section>
    </mj-wrapper>
  </mj-body>
</mjml>
