<mjml>

  <%- include('../commun/head.mjml.ejs'); %>
  <mj-body background-color="#f0f0f0">

    <%- include('../commun/header.mjml.ejs', { utils }); %>

      <mj-wrapper css-class="wrapper">

          <mj-column>
            <mj-text align="left">
              Bonjour <%= conseiller.prenom %>,
            </mj-text>
            <mj-text align="left">
              Ce mail pour vous rappeler que lorsque vous avez sign&eacute; votre contrat Conseiller num&eacute;rique, votre date de fin de
              mission a &eacute;t&eacute; d&eacute;finie pour le <%= conseiller.dateFinDeContrat %>. Cette date est pour bientôt !
            </mj-text>
            <mj-text align="left">
              <b>Si la date est incorrecte</b>, elle a pu être renseign&eacute;e sans avoir d&rsquo;info sur la date r&eacute;elle de fin, ou alors
              la date de fin a &eacute;t&eacute; revue), contactez nous sur le mail support <a href="conseiller-numerique@anct.gouv.fr">conseiller-numerique@anct.gouv.fr</a>
              pour rester membre de la communaut&eacute; Conseiller num&eacute;rique et b&eacute;n&eacute;ficier de vos acc&egrave;s &agrave; la Coop.
            </mj-text>
            <mj-text align="left">
              <b>Si la date est correcte</b> et que votre mission se termine, vos acc&egrave;s &agrave; l'outil Coop seront coup&eacute;s.
            </mj-text>
            <mj-text align="left">
              Votre <a href="">espace candidat</a> sera de nouveau accessible pour vous permettre de mettre &agrave; jour vos informations de candidature.
            </mj-text>
             <mj-text align="left">
              Pour vous accompagner sur votre avenir professionnel, nous vous proposons un guide disponible <a href="https://labase.anct.gouv.fr/base/631?tags=&page=0">ici</a>
              et de vous inscrire &agrave; <a href="https://11d898a2.sibforms.com/serve/MUIFAOeD3-HyKAmhtuJ4f-W4HiQ7qP735LlgpZnUJvEX0wQ5hLQajp7brjV5QVbiD0ewsv-9O-oCoMq1SZdPp9OdKWJiZOOrQERB9UYMo5GI7w5unt7EbeAK91r54fzC4-8PxCbEJM4q_8NIi6c1K4OJXJYq5t81u9MHhx0SdgOQE14W8EkFeAJx8JMb1m8hS0F2X2EeIgGiF_JD"
              >la newsletter</a> destin&eacute;e au conseiller num&eacute;rique en fin de mission.
            </mj-text>
            <mj-text align="left">
              L&rsquo;&eacute;quipe Conseiller num&eacute;rique
            </mj-text>
          </mj-column>
      </mj-wrapper>
  </mj-body>
</mjml>
